/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:is([data-theme="dark"] *));
@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --ifm-color-primary: #dc3e3e;
  --ifm-color-primary-dark: #e15959;
  --ifm-color-primary-darker: #e57373;
  --ifm-color-primary-darkest: #ea8e8e;
  --ifm-color-primary-light: #d42727;
  --ifm-color-primary-lighter: #b92222;
  --ifm-color-primary-lightest: #9f1d1d;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: #ffe1cc;
  --ifm-navbar-background-color: #fff5ee;
  --ifm-background-color: #fff5ee;
  --ifm-color-content: #28589d;
  --ifm-color-content-secondary: #1164b4;
  --ifm-menu-color: #1164b4;
  --ifm-code-background: #fffafa;
  --ifm-font-family-base: "Comic Relief", Roboto, system-ui, -apple-system,
    Segoe UI, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --ifm-font-family-monospace: "Space Mono", SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

.markdown h1:first-child {
  font-size: 2.25rem;
  line-height: calc(2.5 / 2.25);
  letter-spacing: -0.025rem;
  font-weight: 800;
}

.markdown > h2 {
  font-size: 1.875rem;
  line-height: calc(2.25 / 1.875);
  letter-spacing: -0.025rem;
  font-weight: 600;
}

.markdown > h3 {
  font-size: 1.5rem;
  line-height: calc(2 / 1.5);
  letter-spacing: -0.025rem;
  font-weight: 600;
}

.markdown > h4 {
  font-size: 1.25rem;
  line-height: calc(1.75 / 1.25);
  font-weight: 600;
}

[class*="codeBlockContainer"] {
  background-color: #fffafa;
  color: #28589d;
}

[class*="codeBlockContent"] pre {
  background-color: #fffafa !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #89cff0;
  --ifm-color-primary-dark: #72c6ed;
  --ifm-color-primary-darker: #5abcea;
  --ifm-color-primary-darkest: #42b2e6;
  --ifm-color-primary-light: #92d3f1;
  --ifm-color-primary-lighter: #9ad6f2;
  --ifm-color-primary-lightest: #a3daf3;
  --docusaurus-highlighted-code-line-bg: #555d50;
  --ifm-navbar-background-color: #36454f;
  --ifm-background-color: #36454f;
  --ifm-color-content: #fff5ee;
  --ifm-color-content-secondary: #fffafa;
  --ifm-menu-color: #fffafa;
  --ifm-code-background: #414a4c;
}

[data-theme="dark"] [class*="codeBlockContainer"] {
  background-color: #414a4c;
  color: #fff5ee;
}

[data-theme="dark"] [class*="codeBlockContent"] pre {
  background-color: #414a4c !important;
}
